*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1600px;
}

/*header*/


nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav ul li a:hover{
    text-decoration: underline;
    
    text-decoration-thickness: 4px;
    text-decoration-color: #e6bd43;
}

nav ul li {
    list-style: none;
    color: black;
    font-weight: bold;
    margin: 1rem;
}
#nav-contact{
    background-color: #e6bd43;
    display: inline;
    padding: 1rem;
}

header nav{
    text-align: center;
}

/*index*/

.read-more-about-our-services{
    color: black;
    background-color: #e6bd43;
    display: inline-block;
    text-decoration: none;
    padding: 1rem;
    font-weight: bold;
    text-align: left;
    width: 100%;
}

header section{
    background-image: url("");
    padding: 2rem;
}

header section h2{
    font-size: xx-large;
    text-align: center;
}

header section p{
    background-image: url("");
    text-align: center;
}



#index-section-1{
    text-align: center;
}


#index-section-2{
    background-color: #e6bd43;
    size: 2rem;
    padding: 4rem;
}

#index-section-2 img{
    max-width: 400px;
    width: 100%;
    flex-direction: column;
    
}
#index-section-2 a{
   border-width: 3px;
   border-style: solid;
   padding: 1rem;
   color: black;
   text-decoration: none;
   font-weight: bold;
}



#index-section-3{
    text-align: center;
}

#index-section-4{
    background-color: rgb(228, 228, 228);
    text-align: center;
    padding: 2rem;
}

#sign-me-up{
    background-color: #e6bd43;
    color: black;

}

#index-section-4 input{
    height: 2rem;
    
}

/*products*/


#Portifolio {
    text-align: center;
    background-image: url("");
}

#products-section-button ul li{
    list-style: none;
}

#products-section-button ul li a{
    text-decoration: none;
}

#products-section-branding img, #products-section-design img, #products-section-development img{
    max-width: 350px;
    min-width: 200px;
}


#products-section-branding, #products-section-design, #products-section-development{
    max-width: 350px;
    min-width: 200px;
    background-color: aqua;

}

#products-section-1{
    
}

#products-section-2{
 
}

#products-section-3{
   
}

/*about*/

iframe{
    width: 100%;
}

#about-section-1{
    text-align: center;
}

#about-section-2{
    text-align: center;
}

#about-section-3{
    background-color: #e6bd43;
    text-align: center;
}

#user-contact{
    background-color: rgb(216, 216, 216);
    padding: 2rem;
}

#contact-information{
    background-color: rgb(216, 216, 216);
    padding: 2rem;
}

/*footer*/

footer {
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: x-large;
    padding: 2rem;
    color: white;
}

.some-ikon{
    color: white;
    background-color: black;
    font-size: 2rem;
    margin: 1rem;
    text-decoration: none;
}

.background-container {
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
    background-image: url("img/medium-bilde.jpg"); /* Replace with the path to your image */
    background-size: cover; /* Cover the entire container with the background image */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    position: relative;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#Compeling-headline{
    position: relative;
    height: auto;
    width: auto;
   
}

#Compeling-headline::before{
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("");
    background-size: cover;
    opacity: 0.5;

}

#content{
    position:relative;
    text-align: center;

}
