*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*index*/



/*products*/

#Portifolio {
    text-align: center;
    background-image: url("Photo by Pixabay from Pexels: https://www.pexels.com/photo/black-and-white-browsing-business-coffee-265152/");
}

/*about*/