*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*header*/

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav ul li a:hover{
    text-decoration: underline;
}

nav ul li {
    list-style: none;
    color: black;
    font-weight: bold;
    margin: 1rem;
}
#nav-contact{
    background-color: #e6bd43;
    display: inline;
    padding: 1rem;
    
}

header nav{
    text-align: center;
}

/*index*/

.read-more-get-touch-button{
    color: black;
    background-color: #e6bd43;
    display: inline-block;
    text-decoration: none;
    padding: 1rem;
}

header section{
    background-color: blue;
    text-align: center;
    padding: 2rem;
}

#index-section-1{
    text-align: center;
}

#index-section-2{
    background-color: #e6bd43;
    text-align: center;
    size: 2rem;
    padding: 2rem;
}

#index-section-3{
    text-align: center;
}

#index-section-4{
    background-color: rgb(228, 228, 228);
    text-align: center;
    padding: 2rem;
}

#index-section-4 input{
    background-color: black;
}
/*products*/


#Portifolio {
    text-align: center;
    background-image: url("https://www.pexels.com/photo/black-and-white-browsing-business-coffee-265152/");
}

#products-section-1 img, #products-section-2 img, #products-section-3 img{
    max-width: 350px;
    min-width: 200px;
}


#products-section-1, #products-section-2, #products-section-3{
    max-width: 350px;
    min-width: 200px;
    background-color: aqua;

}

#products-section-1{
    
}

#products-section-2{
 
}

#products-section-3{
   
}

/*about*/

iframe{
    width: 100%;
}

#about-section-1{
    text-align: center;
}

#about-section-2{
    text-align: center;
}

#about-section-3{
    background-color: #e6bd43;
    text-align: center;
}

#user-contact{
    background-color: rgb(216, 216, 216);
    padding: 2rem;
}

#contact-information{
    background-color: rgb(216, 216, 216);
    padding: 2rem;
}

/*footer*/

footer {
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: x-large;
    padding: 2rem;
    color: white;
}

.some-ikon{
    color: white;
    background-color: black;
    font-size: 2rem;
    margin: 1rem;
    text-decoration: none;
}