.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF; /* Your desired button color */
    color: #ffffff; /* Text color */
    text-decoration: none;
   
}

.background-container {
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
    background-image: url(""); /* Replace with the path to your image */
    background-size: cover; /* Cover the entire container with the background image */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    position: relative;
}

text-decoration: underline;
text-decoration-thickness: 4px;
text-decoration-color:#e6bd43 ;
}